[submodule "ddd-toolkit-core"]
	path = ddd-toolkit-core
	url = https://github.com/ryoshrimp/ddd-toolkit-core.git
[submodule "ddd-toolkit-macro"]
	path = ddd-toolkit-macro
	url = https://github.com/ryoshrimp/ddd-toolkit-macro.git
